* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  height: 85vh;
  background: #e5e5e5;
}

.container {
  height: 1409px;
  max-width: 1340px;
  background-color: #fff;
  border-radius: 10px;
  margin: 25px auto;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
}
