@import 'variables';
@import 'libs/normalize';

%FLEX_SB_CENTER {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%SIMPLE_HORIZONTAL_LINE {
    &::before {
        content: '';
        position: absolute;
        display: block;
        background-color: $headerBtnColor;
        height: 2px;
        width: 17px;
        margin-top: 5px;
        top: 35%;
        left: 10px;
        transition: $defaultTransition;
    }

    &:hover::before,
    &:hover::after {
        background-color: $whiteColor;
    }
}

%LARGE_BUTTONS {
    width: 210px;
    border-radius: 30px;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    transition: $defaultTransition;
}

%BUTTON {
    @extend %FLEX_SB_CENTER;
    justify-content: space-around;
    align-items: center;

    background-color: $headerBtnColor;
    width: 150px;
    height: 50px;
    font-size: 16px;
    color: $whiteColor;
    cursor: pointer;
    transition: $defaultTransition;

    border: 0;
    border-radius: 30px;

    &:hover {
        background-color: #ffdf8c;
    }
}

%BUTTON_AVAILABILITY {
    &.active {

        &.selected, &:hover {
            background-color: #d4d4d4;
            border-radius: 5px;
            box-shadow: 0px 2px 4px rgba($blackColor, 0.04);
        }

        &.selected {
            background-color: #c1c1c1;
        }
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

/* General */

.container {
    max-width: $containerWidth;
    width: 100%;
    background-color: $containerBgColor;

    border-radius: 10px;
    margin: 0 auto;

    box-shadow: 0px 15px 20px rgba($blackColor, 0.03);

    & .content {
        padding: 40px 50px;
        @media screen and (max-width: 550px) {
            padding: 20px;
        }
    }
}

::-webkit {
    &-scrollbar{
        width: 10px;

        &-track {
            background-color: $whiteColor;
        }

        &-thumb {
            background: #909090;
            border-radius: 15px;
            border: 2px solid $whiteColor;
        
            &:hover {
                background: #7c7c7c;
            }
        }
    }
}

/* Header */

.header {
    @extend %FLEX_SB_CENTER;

    border-bottom: 1px solid #f7f7f7;
    padding-bottom: $defaultIndent;

    &__header-logo {
        @extend %FLEX_SB_CENTER;

        &-icon {
            width: 38px;
            height: 38px;
        }


        &-description {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            &-title {
                color: $darkColor;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;

                @media screen and (max-width: 410px) {
                    font-size: 16px;
                }
            }

            &-text {
                color: #7b7b7b;
                font-size: 16px;
                @media screen and (max-width: 410px) {
                    font-size: 10px;
                }
                @media screen and (max-width: 370px) {
                    font-size: 8px;
                }
            }
        }
    }
}

.header__header-button {
    @media screen and (max-width: 500px) {
        width: 90px;
    }   
}

.button {
    @extend %BUTTON;

    & > .header__header-cart {

        @media screen and (max-width: 500px) {
            width: 50px;
            &-cost, &-line {
                display: none;
            }
        }

        &-cost,
        &-count {
            width: 45%;
            text-align: center;
        }

        &-count {
            width: 35%;
            @extend %FLEX_SB_CENTER;
            justify-content: space-around;
            stroke: $whiteColor;
            margin-right: 5px;
        }

        &-line {
            height: 50%;
            width: 1px;
            background: $whiteColor;
        }
    }

    &--outline {

        border: 1px solid $headerBtnColor;
        background-color: $whiteColor;
        color: $darkColor;
    
        & > .header__header-cart {
            &-line {
                background: $darkColor;
            }
    
            &-count {
                stroke: $darkColor;
                margin-right: 5px;
            }
        }
    }

    &--bold {
        color: $addBtnColor;
        font-weight: 700;
        border-radius: 30px;
        border: 1px solid $addBtnColor;
        max-width: 50%;
        width: 100%;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        transition: $defaultTransition;
    
        &:hover {
            color: $whiteColor;
            background: $addBtnColor;
        }
    }
}

.sort--selected {
    color: $headerBtnColor;
    font-weight: 700;
}

/* selection */
.selection {
    margin-top: $defaultIndent;
    @extend %FLEX_SB_CENTER;

    @media screen and (max-width: 1070px) {
        flex-direction: column;
        align-items: flex-start;

        &__filters {
            margin-bottom: 30px;
        }
    }

    &__filters {
        max-width: 65%;
        width: 100%;

        @media screen and (max-width: 745px) {
            max-width: 100%;
            width: 100%;
        }

        &-list {
            @extend %FLEX_SB_CENTER;

            @media screen and (max-width: 745px) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 100%;
            }

            &-item {
                cursor: pointer;
                color: $darkColor;
                background-color: $filterBackroundColor;
                padding: 10px 20px;
                border-radius: 30px;
                font-weight: bold;
                transition: $defaultTransition;

                @media screen and (max-width: 745px) {
                    margin-bottom: 5px;
                }

                &:hover {
                    background-color: $headerBtnColor;
                    color: $whiteColor;
                }
            }

            .item--selected {
                background-color: #181818;
                color: $whiteColor;
            }
        }
    }

    &__sorting {
        position: relative;

        &-arrow {
            margin-right: 10px;
            transform: rotate(180deg);

            &.rotated {
                transform: rotate(0);
            }
        }

        &-text {
            margin-right: 5px;
        }

        &-selected {
            cursor: pointer;
            color: $headerBtnColor;
            border-bottom: 1px dotted $headerBtnColor;
        }

        &-popup {
            position: absolute;
            background-color: $whiteColor;
            box-shadow: 0px 1px 3px grey;
            padding: 5px;
            border-radius: 3px;
            right: 0px;
            top: 30px;
            font-size: 16px;
            transition: $defaultTransition;

            &-list {
                &-item {
                    padding: 5px 10px;
                    cursor: pointer;
                    transition: $defaultTransition;
                    border-radius: 3px;

                    &:hover {
                        background-color: $filterBackroundColor;
                    }
                }
            }
        }
    }
}

/* main */
.main {
    margin-top: $defaultIndent + 10;
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: 700;
        font-size: 32px;
    }
    &__pizza-list {
        margin-top: $defaultIndent;
        @extend %FLEX_SB_CENTER;
        flex-wrap: wrap;

        @media screen and (max-width: 650px){
            justify-content: space-around;
        }

        &-item {
            margin-top: $defaultIndent;
            flex-basis: 24%;

            &::after {
                content: '';
                flex: auto;
            }

            &-img {
                text-align: center;
                padding: 0px 6px 0 15px;
            }

            &-title {
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }
            &-selection {
                height: max-content;
                padding: 5px;
                margin-top: $defaultIndent - 5;
                background: $selectionPizzaColor;
                border-radius: 10px;

                &-pastry {
                    background: $selectionPizzaColor;
                    @extend %FLEX_SB_CENTER;
                    margin-bottom: 5px;

                    &-button {
                        border: 0;
                        width: 48%;
                        font-size: 14px;
                        color: $darkColor;
                        font-weight: 700;
                        cursor: pointer;
                        padding: 10px 20px;
                        text-align: center;
                        transition: $defaultTransition;

                        @extend %BUTTON_AVAILABILITY;
                    }
                }
            }

            &-cost {
                @extend %FLEX_SB_CENTER;
                margin-top: $defaultIndent;

                &-text {
                    font-weight: 700;
                    font-size: 22px;
                }
            }
        }
        &::after {
            flex-basis: 48%;
            content: '';
        }
    }
}

/* cart-page */
.cart-content {
    max-width: 80%;
    margin: $defaultIndent auto;

    @media screen and (max-width: 1000px) {
        max-width: 100%;
        width: 100%;
    }

    &__header {
        @extend %FLEX_SB_CENTER;

        &-title {
            @extend %FLEX_SB_CENTER;
            justify-content: flex-start;

            &-text {
                margin-left: 15px;
                font-size: 26px;
                font-weight: 700;

                @media screen and (max-width: 400px) {
                    font-size: 18px;
                }
                @media screen and (max-width: 337px) {
                    font-size: 16px;
                }
            }
        }

        &-button {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            border: 1px solid $whiteColor;

            &-text {
                font-size: 16px;
                color: $deleteBtnColor;
                
                @media screen and (max-width: 360px) {
                    font-size: 14px;
                }
            }

            &:hover {
                border-bottom: 1px solid $deleteBtnColor;
            }
        }
    }

    &__cart-list {
        margin-top: $defaultIndent + $defaultIndent - 5;
        display: flex;
        flex-direction: column;

        &-item {
            @extend %FLEX_SB_CENTER;
            border-top: 1px solid #f4f4f4;
            padding-top: $defaultIndent;

            @media screen and (max-width: 558px) {
                flex-direction: column;
            }

            &-info {
                @extend %FLEX_SB_CENTER;
                width: 50%;

                @media screen and (max-width: 558px) {
                    width: 70%;
                }
    

                @media screen and (max-width: 400px) {
                    font-size: 18px;
                }

                &-detail {
                    width: 100%;
                    margin-left: 5px;
                    display: flex;
                    flex-direction: column;

                    &-title {
                        font-weight: 700;
                        color: $darkColor;
                        font-size: 22px;
                        @media screen and (max-width: 666px) {
                            font-size: 14px;
                        }
                    }

                    &-description {
                        font-size: 18px;
                        color: #8d8d8d;
                        padding: 3px 0 0;
                        @media screen and (max-width: 666px) {
                            font-size: 10px;
                        }
                    }
                }
            }

            &-count {
                @extend %FLEX_SB_CENTER;

                @media screen and (max-width: 558px) {
                    width: 25%;
                    justify-content: space-around;
                    margin-bottom: 15px;
                }

                @media screen and (max-width: 468px) {
                    width: 40%;
                }

                &-minus,
                &-plus {
                    width: 16px;
                    height: 16px;
                    padding: 10px;
                    border-radius: 50%;
                    border: 1px solid $headerBtnColor;
                    text-align: center;
                    cursor: pointer;
                    transition: $defaultTransition;

                    position: relative;
                    transition: $defaultTransition;

                    @extend %SIMPLE_HORIZONTAL_LINE;

                    &:hover {
                        background-color: $headerBtnColor;
                    }
                    &:hover &-line {
                        background-color: $whiteColor;
                    }
                }

                &-text {
                    font-weight: 700;
                    color: $darkColor;
                    font-size: 22px;
                    margin: 0 10px;
                }

                &-plus {
                    &::after {
                        content: '';
                        position: absolute;
                        display: block;
                        background-color: $headerBtnColor;
                        height: 15px;
                        width: 2px;
                        margin-top: 5px;
                        top: 20%;
                        left: 17px;
                        transition: $defaultTransition;
                    }
                }
            }

            &-cost {
                font-size: 22px;
                font-weight: 700;
                color: $darkColor;
            }

            &-delete {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: 2px solid #d7d7d7;
                transition: $defaultTransition;

                @media screen and (max-width: 558px) {
                    width: 24px;
                    height: 24px;
                    margin: 20px 0 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &-icon {
                    transition: $defaultTransition;
                }

                &:hover &-icon {
                    fill: $whiteColor;
                }
                &:hover {
                    background-color: $headerBtnColor;
                    border-color: $headerBtnColor;
                    cursor: pointer;
                }
            }
        }
    }

    &__footer {
        margin-top: $defaultIndent * 2;
        display: flex;
        flex-direction: column;
    

        &-detail {
            @extend %FLEX_SB_CENTER;
            font-size: 22px;

            @media screen and (max-width: 480px){
                font-size: 18px;
            }
            @media screen and (max-width: 400px){
                flex-direction: column;
            }
            &-count {
                &-text {
                    margin-right: 5px;
                }

                &-number {
                    font-weight: 700;
                }
            }
            &-sum {
                &-cost {
                    margin-left: 5px;
                    color: $headerBtnColor;
                    font-weight: 700;
                }
            }
        }

        &-buttons {
            margin-top: $defaultIndent * 2;
            @extend %FLEX_SB_CENTER;

            @media screen and (max-width: 480px){
                flex-direction: column-reverse;
                justify-content: flex-end;
            }

            &-goback {
                @extend %LARGE_BUTTONS;
                color: #cacaca;
                border: 1px solid #d3d3d3;

                &:hover {
                    background-color: $headerBtnColor;
                }
            }

            &-pay {
                @extend %LARGE_BUTTONS;
                border: 1px solid $headerBtnColor;
                background-color: $headerBtnColor;
                color: $whiteColor;

                @media screen and (max-width: 480px){
                    margin-bottom: 10px;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

/*  empty-cart-page */
.empty-cart-content {
    margin-top: $defaultIndent * 2;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;

        &-text {
            font-weight: 700;
            font-size: 26px;
            color: $darkColor;
            margin-right: 15px;
        }
    }

    &__description {
        font-size: 14px;
        margin-top: $defaultIndent;
        color: #777;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        &-first-line {
            margin-bottom: 5px;
        }
    }

    &__big-image {
        margin-top: $defaultIndent;
        text-align: center;

        @media screen and (max-width: 666px) {
            & img { 
                width: 300px;
            }
        }
        @media screen and (max-width: 335px) {
            & img { 
                width: 280px;
            }
        }
    }

    &__footer {
        margin-top: $defaultIndent * 2;
        display: flex;
        justify-content: center;

        &-button {
            @extend %LARGE_BUTTONS;
            background-color: $darkColor;
            color: $whiteColor;
            padding: 12px 0;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}
